# ---------------------------------------------------------
# Environment Variables / Secrets
# ---------------------------------------------------------
.env
.env.*
!.env.example

# ---------------------------------------------------------
# Python
# ---------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ---------------------------------------------------------
# Virtual Environments
# ---------------------------------------------------------
venv/
.venv/
env/
ENV/

# ---------------------------------------------------------
# IDE / Editor
# ---------------------------------------------------------
.idea/
.vscode/

# ---------------------------------------------------------
# OS Files
# ---------------------------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------------------------
# Logs
# ---------------------------------------------------------
*.log
logs/

# ---------------------------------------------------------
# Testing / Cache
# ---------------------------------------------------------
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# ---------------------------------------------------------
# MLflow
# ---------------------------------------------------------
mlruns/

# ---------------------------------------------------------
# Jupyter
# ---------------------------------------------------------
.ipynb_checkpoints/

# ---------------------------------------------------------
# Local Databases
# ---------------------------------------------------------
*.sqlite3
*.db

# ---------------------------------------------------------
# Temporary Files
# ---------------------------------------------------------
*.tmp
*.temp
